<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mugbya.cjtrade.business.member.dao.MemberDao">

    <cache/>

    <select id="getMemberById" parameterType="String" resultType="Member">
        SELECT *
        FROM member
        WHERE member.memberid = #{memberid}
    </select>

    <select id="getMemberByName" parameterType="String" resultType="Member">
        SELECT *
        FROM member
        WHERE member.membername = #{membername}
    </select>

    <select id="getAll" parameterType="Map" resultType="Member">
        SELECT *
        FROM member
        <where>
            <if test="memberid != null">
                memberid = #{memberid}
            </if>
            <if test="membername != null">
                AND membername = #{membername}
            </if>
            <if test="deptid != null">
                AND deptid = #{deptid}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="Member">

        INSERT INTO member (memberid, membername, deptid, memberemail, memberphone)
        VALUES (#{memberid}, #{membername}, #{deptid},#{memberemail}, #{memberphone})

    </insert>


    <delete id="delete" parameterType="String">
        DELETE FROM member WHERE member.memberid = #{memberid}
    </delete>

    <update id="update" parameterType="Member" >
        UPDATE member
          SET membername = #{membername}, memberphone = #{memberphone},
                          deptid = #{deptid}, memberemail = #{memberemail}
                      WHERE memberid = #{memberid}

    </update>

    <delete id="delPermission" parameterType="String">
        DELETE FROM permission_member
        WHERE permission_member.memberid=#{memberid}
    </delete>

    <delete id="delRole" parameterType="String">
        DELETE FROM role_member
        WHERE role_member.memberid=#{memberid}
    </delete>

</mapper>