<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="dto" type="com.mugbya.core.collection.BaseDto"/>
    </typeAliases>

    <!--<mappers>-->
        <!--<mapper resource="com/mugbya/cjtrade/business/member/dao/MemberMapper.xml"/>-->
    <!--</mappers>-->

</configuration>